## Step 1 - Importing libraries

In [4]:
#Data manipulation and analysis 
import pandas as pd
#Provides an array dataset and mathematical functions to be performed on arrays.
import numpy as np
# Plotting the graph 
import matplotlib.pyplot as plt

## Step 2: Data preparation/Pre-Processing

In [24]:
dataset= pd.read_csv('data4.csv')

In [25]:
dataset

         country  age  salary purchased
0  United States   36   57000        no
1          China   25   53000       yes
2          Japan   40   64000        no
3         Brazil   36   55000       yes
4          Japan   48   80000        no
5          India   43   86000        no
6         Brazil   29   67000       yes
7  United States   34   89000       yes
8  United States   44   50000        no
9         Brazil   39   65000       yes

### Now from the data set we need to separate the independent and dependent variables. 
### In this case Age is the independent variable and Salary is the dependent variable.

In [26]:
x= dataset.iloc[:,2].values   
y= dataset.iloc[:,1].values  
x;y

array([36, 25, 40, 36, 48, 43, 29, 34, 44, 39], dtype=int64)

salary = [np.random.randint(50, 90)*1000 for _ in range(10)]
country = [np.random.choice(country_list) for _ in range(10)]
purchased = [np.random.choice(['yes','no']) for _ in range(10)]
age = [np.random.randint(25,50) for _ in range(10)]
data_dict = {
    'country': country,
    'age' : age,
    'salary' : salary,
    'purchased': purchased
}
d = pd.DataFrame(data_dict)
d.to_csv('data4.csv',index= False)